$font-family-primary: 'ARS Maquette', 'ars-maquette-web', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,sans-serif, Apple Color Emoji, Segoe UI Emoji;

%font-family-primary {
  font-family: $font-family-primary;
}

html {
  @extend %font-family-primary;
}

input {
  @extend %font-family-primary;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

$font-weight_bold: bold;

%font-weight-bold {
  font-weight: $font-weight_bold;
}

%line-height-125 {
  line-height: 1.25;
}

%line-height-150 {
  line-height: 1.5;
}

%line-height-166 {
  line-height: 1.75;
}

%type-mono-20 {
  font-family: "Courier Prime", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: min(1.125rem, 1.75rem);
  @extend %line-height-150;
}

%type-default-16 {
  font-size: 1rem;
}

%type-default-13 {
  font-size: 0.75rem; //  0.8125rem;
}


.external-link {
  width: 10px;
  height: 10px;
  position: relative;
  top: -4px;
  fill: var(--color-gray-300);
}

a:hover .external-link {
  fill: currentColor;
}

// Silent classes
%small-caps {
  font-family: $font-family-primary;
  @extend %type-default-13;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}