{% if page.title == "About" %}
  {% include about/instagram.html username="skullface.me" %}
{% endif %}

<footer class="Footer" role="contentinfo">
  <div class="Footer__newsletter">
    <p>
      Updates and exclusive announcements. Twice a month, tops. No&nbsp;spam.
    </p>
    <div>
      {% include footer/newsletter.html %}
    </div>
  </div>
  
  <div class="Footer__information">
    <div class="Footer__bio">
      {% include footer/assets/skull-type.svg class="Footer__skull-type" aria-hidden="true" %}
      <p>
        Skullface (she/her) is an interdisciplinary designer, visual artist, and programmer fighting for love and&nbsp;justice.
      </p>
    </div>
    
    <div class="Footer__links">
      <nav class="Footer__links__pages">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/projects">Work</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/legal">Legal</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
      <nav class="Footer__links__pages">
        <ul>
          <li>
            <a href="/favorites">Favorites</a>
          </li>
          <li>
            <a href="/resources">Resources</a>
          </li>
          <li>
            <a href="/sketchbook">Sketchbook</a>
          </li>
          <li>
            <a href="/shop">Shop</a>
          </li>
          <li>
            <a href="https://falseluck.com">False Luck {% include external-link.html %}</a>
          </li>
        </ul>
      </nav>
      <nav class="Footer__links__social">
        <ul>
          <li>
            <a href="https://twitter.com/skullface" class="social-tw">
            {% include footer/assets/social-twitter.svg aria-hidden="true" %}
            Twitter
            </a>
          </li>
          <li>
            <a href="https://youtube.com/c/skullfacekillah" class="social-yt">
            {% include footer/assets/social-youtube.svg aria-hidden="true" %}
            YouTube
            </a>
          </li>
          <li>
            <a href="https://instagram.com/skullface.me" class="social-ig">
            {% include footer/assets/social-instagram.svg aria-hidden="true" %}
            Instagram
            </a>
          </li>
          <li>
            <a href="https://twitch.tv/skvllface" class="social-th">
            {% include footer/assets/social-twitch.svg aria-hidden="true" %}
            Twitch
            </a>
          </li>
          <li>
            <a href="https://github.com/skullface" class="social-gh">
            {% include footer/assets/social-github.svg aria-hidden="true" %}
            GitHub
            </a>
          </li>
          <li>
            <a href="https://www.buymeacoffee.com/skullface" class="social-bc">
            {% include footer/assets/social-buymeacoffee.svg aria-hidden="true" %}
            Tip jar
            </a>
          </li>
        </ul>
      </nav>
      {% include global/assets/skull-fill.svg class="Footer__skull" aria-hidden="true" %}
    </div>
      
    <p class="Footer__copyright">
      &copy; {{ site.time | date: '%Y' }} False Luck Ltd. Ain&rsquo;t no stoppin&rsquo; me &mdash; copywritten, so don&rsquo;t copy me.
    </p>
  </div>
</footer>

{% include footer/theme-switcher.html %}

<script defer src="{{ '/assets/js/main.js' | absolute_url }}"></script>

</body>
</html>
