<form
  action="https://buttondown.email/api/emails/embed-subscribe/skullface"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/skullface', 'popupwindow')"
  class="newsletter__footer embeddable-buttondown-form"
> 
  <fieldset class="form__name">
    <label for="bd-name">
      <span class="legend">
        First name
      </span>
      <input
        id="bd-name"
        type="text"
        name="metadata__first-name"
      />
    </label>
  </fieldset>

  <fieldset class="form__email">
    <label for="bd-email">
      <span class="legend">
        Email address
      </span>
      <input type="email" name="email" id="bd-email" required />
    </label>
  </fieldset>

  <input type="hidden" name="tag" value="site-footer" />
  <input type="hidden" value="1" name="embed"></input>
  <input type="submit" value="Sign up 💌"></input>
</form>
