---
layout: page
title: "My favorite design business tools and resources"
description: "The tools you use can make or break your online business. Here are the tools and resources I use to run my own business–from web design and client management to marketing and SEO."
heading: expanded
permalink: /favorites
---

{% for group in site.data.favorites %}
  <h2>
    {{ group.group }}
  </h2>

  <div class="favorites">
    {% for tool in group.tools %}
    {% assign fav_slug = tool.title | slugify %}
      <div id="{{ fav_slug }}">
        <h3>
          {{ tool.title }}
        </h3>

        <p>
          {{ tool.description }}
        </p>
      </div>
    {% endfor %}
  </div>  
{% endfor %}