// Social share links
.post_social_links {
  display: inline-flex;
  @extend %no-list;
  
  li {
    position: relative;
    top: $spacer-quarter;
    display: inline-flex;
    &:not(:last-child) {
      margin-right: $spacer-1 * 1.5;
    }
  }

  a {
    display: inline-flex;
  }
  
  svg {
    width: $spacer-1 * 1.5;
    height: $spacer-1 * 1.5;
    fill: var(--color-text);
  }
}

@each $social-link, $fill in $social-links {
  li.#{$social-link} a:hover svg,
  li.#{$social-link} a:focus svg {
    fill: $fill;
  }
}