.contact_intro,
.about_intro {
  figure {
    background-image: url("/assets/img/contact.jpg");
  }
}

.contact_form_container {
  label span {
    color: var(--color-gray-dim-1);
  }

  label {
    width: 100%;
  }

  input {
    padding-top: $spacer-1;
  }

  .form-detail {
    margin-bottom: $spacer-2;
  }

  .g-recaptcha {
    margin-top: $spacer-4;
    margin-bottom: $spacer-6;
  }
}
