.site_content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.post_content {
  margin-bottom: $spacer-6 * 2;

  p, 
  ul,
  pre,
  table,
  .contact_form_container {
    margin-bottom: $spacer-4;
  }
  
  li {
    margin-bottom: $spacer-1;
  }
}

.post_content {
  p, 
  ul,
  h2, 
  h3,
  table,
  pre,
  .contact_form_container {
    @extend %container;
  }

  .media,
  figure,
  figcaption {
    @extend %contain;
    max-width: 70rem;
  }
}

%contain { 
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

%container {
  @extend %contain;
  max-width: 40rem;
  @media screen and (min-width: 1300px) {
    max-width: 44rem;
  }
}

%container-wide {
  @extend %contain;
  max-width: 60rem;
}
