.theme-switch {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  cursor: pointer;
  z-index: 300;
  border-radius: 50%;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
}

.theme-switch-checkbox {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;

  ~ .octicon-sun { display: none; }
  ~ .octicon-moon { display: block; }

  &:checked {
    ~ .octicon-sun { display: block; }
    ~ .octicon-moon { display: none; }
  }
}

.octicon-sun,
.octicon-moon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  padding: .75rem;
}

.octicon-sun {
  color: var(--color-gray-400);
  background-color: var(--color-gray-700);
}

.octicon-moon {
  color: var(--color-gray-200);
}
