.theme-switch {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  cursor: pointer;
  z-index: 300;
  color: red;
  border-radius: 50%;
  box-shadow: 0 .25rem .5rem blue;
}
.theme-switch-checkbox {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;

  ~ .octicon-sun { display: none; }
  ~ .octicon-moon { display: block; }

  &:checked {
    ~ .octicon-sun { display: block; }
    ~ .octicon-moon { display: none; }
  }
}

.octicon-sun,
.octicon-moon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  padding: .75rem;
}

.octicon-sun {
  color: var(--color-gray-bright-2);
  background-color: var(--color-white);
}

.octicon-moon {
  color: var(--color-gray-dim-3);
  background-color: var(--color-text);
}








.form__form-group--stacked {
  input {
    display: block;
  }
}

.form__checkbox--horizontal {
  display: inline-block;
  margin-right: $spacer-2;
}

/**
 *
 * @group Footer
 *
*/


.Footer {
  @include breakpoint(md) {
    display: flex;
    align-items: stretch;
  }
  margin-top: auto; // push to bottom of page
  font-family: $font-family_head;
  color: var(--color-bg);
  background-color: var(--color-gray-bright-3);
}

.Footer__newsletter {
  padding: $spacer-4;
  @include breakpoint(xl) {
    padding: $spacer-6;
  }
}

// Information section

.Footer__information {
  p {
    margin-bottom: 0;
  }
  
  width: 100%;
  @include breakpoint(md) {
    width: 66%;
  }
  padding: $spacer-4;
  @include breakpoint(xl) {
    padding: $spacer-6;
  }
  
  display: flex;
  flex-direction: column;
}

.Footer__bio {
  @include breakpoint(lg) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @extend %margin-bottom-default;

  p {
    color: var(--color-gray-dim-2);
    font-family: $font-family_accent;
    @include breakpoint(lg) {
      margin-left: $spacer-6;
    }
    @extend %width-lg-clipped;
  }
}

.Footer__skull-type {
  display: block;
  @extend %margin-bottom-condensed;
  width: 100%;
  @include breakpoint(sm) {
    width: 50%;
  }
  @include breakpoint(md) {
    max-height: 124px;
  }
  @include breakpoint(lg) {
    width: 30%;
    margin-bottom: 0;
    max-height: 110px;
  }
}

.form__name label,
.form__email label {
  width: 100%;
  margin-bottom: 0;
}

.skull-type__sparkles {
  fill: var(--color-gray-bright-1);
}

.skull-type__type {
  fill: var(--color-gray-dim-2);
}

.Footer__links {
  display: grid;
  grid-gap: $spacer-1;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-auto-rows: minmax(auto, auto);
  font-size: $font-size_14;
  @extend %margin-bottom-default;
  line-height: $leading-spacious;
  a {
    display: block;
    color: var(--color-bg);
    font-weight: $font-weight-bold;
    text-decoration: none;
    &:hover {
      color: var(--color-purple);
      svg {
        fill: currentColor;
      }
    }
  }
}

.Footer__links__pages {
  @extend %margin-bottom-condensed;
  @include breakpoint(md) {
    margin-bottom: 0;
  }
}

.Footer__links__pages,
.Footer__links__social {
  align-self: flex-start;
  width: 100%;
  @include breakpoint(sm) { 
    max-width: 10em;
  }  
  @extend %margin-bottom-default;
  @include breakpoint(sm) {
    margin-bottom: 0;
  }
}

.Footer__links__social svg {
  position: relative;
  top: 2px;
  width: $spacer-2;
  height: $spacer-2;
  margin-right: $spacer-1;
  fill: var(--color-gray-dim-2);
}

.Footer__skull {
  min-width: 3em;
  max-width: 7em;
  height: 80%;
  fill: var(--color-gray);
  @include breakpoint(xl) {
    margin-right: 0;
    margin-left: auto;
  }
}

.Footer__copyright {
  margin-top: auto;
  font-size: $font-size_12;
  color: var(--color-gray-dim-2);
  margin-bottom: 0;
}

// Newsletter form

.Footer__newsletter {
  width: 100%;
  @include breakpoint(md) {
    width: 30em;
  }

  background-color: var(--color-text);
  background-image: url('../img/footer/postmark.png');
  background-position: center -40px;
  background-repeat: no-repeat;
  
  p {
    font-family: $font-family_accent;
    @extend %margin-bottom-default;
  }
  
  fieldset {
    @extend %margin-bottom-default;
  }
  
  input {
    border-color: transparent;
    box-shadow: none;
  }
  
  input,
  label,
  legend,
  span {
    font-size: $font-size_16;
  }
  
  input[type="email"],
  input[type="text"] {
    width: 100%;
    padding: 0 0 $spacer-1 0;
    color: var(--color-bg);
    border-bottom: solid 2px var(--color-gray);
    background-color: transparent;

    &::placeholder {
      color: var(--color-gray-dim-3);
    }

    &.focus,
    &:focus {
      outline: none;
      border-bottom-color: var(--color-purple);
    }
  }
  
  label.form__checkbox {
    color: var(--color-bg);
  }

  legend {
    margin-bottom: 0;
    font-weight: $font-weight_bold;
    color: var(--color-gray-dim-2);
  }
}

.form__checkboxes {
  margin-top: $spacer-2;
}

// Custom checkbox styling
.form__checkbox {
  position: relative;
  cursor: pointer;
  display: inline-block;
  
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    opacity: 0;
  }
  
  span {
    margin-left: $spacer-3;
  }

  input + span {
    &:before,
    &:after {
      position: absolute;
      top: 5px;
      left: 0;
      width: 1rem;
      height: 1rem;
      content: "";
      border-radius: $spacer-quarter;
    }
    // create checkbox
    &:before {
      border: 2px solid var(--color-gray);
    }
    // simulate ::checked state
    &:after {
      border: 2px solid var(--color-purple);
      background-color: var(--color-purple);
      opacity: 0;
      transition: opacity 0.085s ease-in-out;
    }
  }
    
  // add focus state styling
  input:hover + span:before,
  input:focus + span:before  {
    border-color: var(--color-purple);
  }
  
  input:checked + span:after {
    opacity: 1;
  }
}

input[type="submit"] {
  width: 100%;
  color: var(--color-bg);
  border-color: var(--color-purple);  
  margin-bottom: 0;
  &:hover,
  &:focus {
    color: var(--color-white);
    border-color: var(--color-purple);
    background-color: var(--color-purple);
  }
  &:active {
    border-top-color: var(--color-purple-deep);
  }
}
