/* Header + Navigation */

.Header {
  @extend %contain;
  padding-top: $spacer-2;
}

.App_page .Header {
  @extend %margin-bottom-spacious;
}

.App_post .Header {
  padding-bottom: $spacer-2;
}

.Header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .Header {
  background: transparent;
}

.Header__nav > li {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;

  &:first-of-type {
    margin-right: $spacer-5;
  }
}

.Header__nav {
  display: flex;
  flex-wrap: no-wrap; /* RWD */
  justify-content: space-evenly;
  align-items: stretch;
  @extend %no-list;

  a,
  button.more-links-button {
    @extend %small-caps;
    font-weight: $font-weight_bold;
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-purple-bright);
    }
  }

  & > * {
    flex: 1 1 auto;
  }

  @media screen and (max-width: 60em) {
    flex-wrap: wrap;
  }
}

.more-links-parent {
  position: relative;
}

button.more-links-button {
  cursor: pointer;
  background: 0;
  outline: none;
  &:focus {
    outline: 3px solid var(--color-purple-dim);
  }
}

.more-links-list {
  position: absolute;
  top: 120%;
  width: auto;
  min-width: 12em;
  height: auto;
  overflow: visible;
  z-index: 10;
  padding: $spacer-3;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
  background: var(--color-bg);
  @extend %no-list;
  @media screen and (min-width: 60em) {
    left: -$spacer-3;
  }
  @media screen and (max-width: 60em) {
    right: 0;
  }
}

.Header__logo {
  display: block;
  width: $spacer-4 * 2;
  margin-left: $spacer-5;
  margin-right: $spacer-5;
  line-height: $leading-squished;
  svg {
    fill: var(--color-purple);
  }
}

html[data-theme="light"] .Header__skull {
  .inverted {
    opacity: 0
  }
  .standard {
    opacity: 1
  }  
}

html[data-theme="dark"] .Header__skull {
  .inverted {
    opacity: 1
  }
  .standard {
    opacity: 0
  }  
}

@keyframes float {
	0%, 33%, 100% {
    opacity: 1;
	}
  66% {
    opacity: .5;
  }
}

@keyframes floatGrow {
	0%, 50%, 100% {
    opacity: 1;
	}
  30%, 40% {
    opacity: .3;
  }
}

@keyframes blink {
  0%, 10%, 20%, 100% {
    transform: scale(1, 1)
  }

  15% {
    transform: scale(1, 0.01);
  }
}

.sk-sparkle {
  transform-origin: center;
}

.sk-eye {
  transform-origin: 0 70px;
  animation: blink 4s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

.sk-sparkle-big {
	animation: float 4s ease-in-out infinite;
}

.sk-sparkle-small {
	animation: floatGrow 8s ease-in-out infinite;
}

.Header__logo {
  transition: transform 130ms cubic-bezier(0.65, 0.05, 0.36, 1);

  &:hover, &:focus {
    transform: scale(1.1);
    .sk-sparkle-big {
      animation: float 3s ease-in-out infinite;
    }
    .sk-sparkle-small {
      animation: floatGrow 2s ease-in-out infinite;
    }
  }
}
