/* Header + Navigation */

.Header {
  @extend %contain;
  padding-top: $spacer-2;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %small-caps;
  font-weight: $font-weight_bold;
}

.App_page .Header {
  @extend %margin-bottom-spacious;
}

.App_post .Header {
  padding-bottom: $spacer-2;
}

.intro .Header {
  background: transparent;
}

.Header__nav a {
  display: inline-block;
  &:first-of-type {
    margin-right: $spacer-5;
  }
  color: var(--color-text);
  &:hover,
  &:focus {
    color: var(--color-purple-bright);
  }
}

.Header__logo {
  display: block;
  width: $spacer-4 * 2;
  margin-left: $spacer-5;
  margin-right: $spacer-5;
  line-height: $leading-squished;
  svg {
    fill: var(--color-purple);
  }
}

html[data-theme="light"] .Header__skull {
  .inverted {
    opacity: 0
  }
  .standard {
    opacity: 1
  }  
}

html[data-theme="dark"] .Header__skull {
  .inverted {
    opacity: 1
  }
  .standard {
    opacity: 0
  }  
}

@keyframes float {
	0% {
    opacity: 1;
		transform: scale(1);
	}
	50% {
    opacity: 1;
		transform: scale(1.05);
	}
  70% {
    opacity: 0;
		transform: scale(0.95);
  }
	100% {
    opacity: 1;
		transform: scale(1);
	}
}

@keyframes floatGrow {
	0% {
    opacity: 1;
		transform: scale(1);
	}
  30%  { opacity: 0; }
  40%  { opacity: 0; }
	50% {
    opacity: 1;
		transform: translateX(-5px) translateY(1px) scale(1.15);
	}
	100% {
    opacity: 1;
		transform: scale(1);
	}
}

.sk-sparkle {
  transform-origin: center;
}

.sk-sparkle-big {
	animation: float 9s ease-in-out infinite;
}

.sk-sparkle-small {
	animation: floatGrow 6s ease-in-out infinite;
}

.Header__logo {
  transition: transform 130ms cubic-bezier(0.65, 0.05, 0.36, 1);

  &:hover, &:focus {
    transform: scale(1.1);
    .sk-sparkle-big {
      animation: float 3s ease-in-out infinite;
    }
    .sk-sparkle-small {
      animation: floatGrow 2s ease-in-out infinite;
    }
  }
}
