/* Header + Navigation */

.Header {
  padding: 1rem 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %small-caps;
  font-weight: $font-weight_bold;
}

.intro .Header {
  background: transparent;
}

.Header__nav a {
  display: inline-block;
  &:first-of-type {
    margin-right: $spacer-5;
  }
  color: $color_text;
  &:hover,
  &:focus {
    color: $color_primary-dark;
  }
}

.Header__logo {
  display: block;
  width: $spacer-4 * 2;
  margin-left: $spacer-5;
  margin-right: $spacer-5;
}
