<div class="post_preview">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="post_preview_image" style="background-image: url('{{ site.url }}{{ site.baseurl }}/{{ site.mediapath.post }}{{ post.date | date: '%Y' }}/jessicapaoli-dot-com_{{ post.image }}')">
      <h2 class="post_title">
        <span>{{ post.title }}</span>
      </h2>
    </div>
    <p class="post_blurb">
      {% if post.description %}
        {{ post.description }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>
  </a>
</div>
