<ul>
  <li>
    <em>The Secret Loves of Geek Girls</em> + <em>The Secret Loves of Geek Girls: Redux</em>, contributing author + artist (2016 – 2018)
  </li>
  <li>
    Cards Against Humanity SDCC zine, contributing artist (2017)
  </li>
  <li>
    “Moon Prism Power — Sailor Moon Art Show” at The Galallery, San&nbsp;Francisco, CA, featured artist (2016)
  </li>
  <li>
    Dribbble, Timeout interview (2016)
  </li>
  <li>
    Kickstarter, Fashion campaign feature + Staff Pick (2015)
  </li>
  <li>
    Bit Bash, Chicago, IL, featured artist (2014)
  </li>
</ul>