<div class="values-and-practices">
  <ul class="">
    <li>
      <div class="value-arrow">
        <span class="value">
          Clarity
        </span>
        <span class="leads-to" aria-label="through">
        </span>
      </div>
      <span class="practice">
        Showing AND telling
      </span>
    </li>
    <li>
      <div class="value-arrow">
        <span class="value">
          Inclusivity
        </span>
        <span class="leads-to" aria-label="through">
        </span>
      </div>
      <span class="practice">
        Proactive advocacy
      </span>
    </li>
    <li>
      <div class="value-arrow">
        <span class="value">
          Intention
        </span>
        <span class="leads-to" aria-label="through">
        </span>
      </div>
      <span class="practice">
          Leading with purpose
      </span>
    </li>
    <li>
      <div class="value-arrow">
        <span class="value">
          Openness
        </span>
        <span class="leads-to" aria-label="leads to">
        </span>
      </div>
      <span class="practice">
        Removing barriers to entry
      </span>
    </li>
  </ul>
</div>
