---
layout: default
---

{% capture imagepath %}{{ site.baseurl }}{{ site.mediapath.post }}{{ download.date | date: '%Y' }}/jessicapaoli-dot-com_{{ download.image }}{% endcapture %}

<article>
  <div class="page_intro download_intro">
    <img class="download_media" src="{{ site.baseurl }}/media/posts/{{ page.date | date: '%Y' }}/jessicapaoli-dot-com_{{ page.image }}" alt="">
    <div class="download_info">
      <h1 class="page_title"><span>{{ page.title }}</span></h1>
      <p>
        {{ page.description }}
        <span class="download_button">
          <a href="{{ page.download-url }}">
          Download <span class="arrow">&gt;</span>
          </a>
        </span>
      </p>
    </div>
  </div>

  <div class="post_content">
    {% if page.longform == true %}
      {{ page.content }}
    {% endif %}
    <div class="download_button">
      <a href="{{ page.download-url }}" class="button">
        Download <span class="arrow">&gt;</span>
      </a>
    </div>
  </div>

  <div class="post_meta">
    <div class="post_updated">
      Last updated: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
    </div>
    <div class="post_social">
      {% include posts/share.html %}
    </div>
  </div>
</article>
