---
layout: default
---

<article class="post">
  <div class="post_header" style="background-image: url('{{ site.baseurl }}/media/posts/{{ page.date | date: '%Y' }}/jessicapaoli-dot-com_{{ page.image }}')">
    <h1 class="post_title">
      <span>
        {{ page.title }}
      </span>
    </h1>
  </div>

  <div class="post_meta">
    <span>
      Filed in:  
    </span>
    <ul class="post_categories">
      {% for category in page.categories %}
      <li class="post_category"><a href="{{ site.baseurl }}/{{ category | slugify }}">{{ category }}</a>{% if forloop.last %}{% else %}, {% endif %}</li>
      {% endfor %}
    </ul>
    <div class="post_updated">
      Last updated: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
    </div>
    <div class="post_social">
      {% include posts/share.html %}
    </div>
  </div>
    
  <div class="post_content">
    {{ content }}
  </div>
</article>

{% include posts/related.html %}
